body {
  background-attachment: fixed;
  background-image: url(./media/jason-leung-ncLdDcvrcfw-unsplash.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  font-family: "IBM Plex Mono", monospace;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-family: "IBM Plex Serif", serif;
}
.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.App-header p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 70px;
  font-weight: 800;
  color: #553c9a;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(10);
  white-space: nowrap;
  overflow: hidden;
}

@keyframes cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

@keyframes typing {
  0% {
    width: 0ch;
  } /*Text is hidden*/
  30% {
    width: 10ch;
  } /*The enitre header will be typed out*/
  80% {
    width: 10ch;
  } /*Text stays visible*/
  90% {
    width: 0ch;
  } /*Text is deleted*/
  100% {
    width: 0ch;
  } /*Text stays hidden*/
}

/*


.images {
  border-radius: 6px;
  margin-bottom: 30px;
}


*/

a {
  position: relative;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(
    0deg,
    rgba(255, 253, 131, 0.1),
    rgba(254, 85, 111, 0.5)
  );
  transition: background-size 350ms;
}

a:where(:hover, :focus-visible) {
  background-size: 100%;
  background-position-x: left;
}
footer {
  text-align: center;
  margin: 30px 0;

}
